* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgb(156, 153, 153);
  color: #fff;
  font-size: 24px;
  padding-top: 100px;
}

.placeholders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
}

.placeholder {
  min-width: 200px;
  min-height: 150px;
  background: rgb(14, 17, 201);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
.placeholder.hovered {
  background: rgb(0, 211, 193);
}

.item {
  cursor: -webkit-grab;
  cursor: grab;
  padding: 5px 10px;
  background: rgb(197, 36, 8);
  border-radius: 5px;
}
.item.hold {
  color: rgb(255, 255, 255);
  background: rgb(192, 3, 167);
}
.item.hide {
  display: none;
}